#cabecera{
    background-color:#B1A779;
    margin-top: 80px;
}
#main{
    background-color: #B1A779;
}
#footer{
    background-color: #B1A779;
}
body{
    background-color:#B1A779;
}
p{
    font-family: 'Raleway', sans-serif;
}